.navbar.navbar-expand-lg.bg-secondary {
  background-color: #180c71fa !important;
}

.navbar-collapse {
  background-color: rgb(75, 128, 221);
}

li {
  background-color: rgb(2, 8, 167);
  margin-top: 0.2em;
}

ul li {
  float: left;
  text-align: center;
}
ul {
  list-style: none;
  display: inline-block;
  text-align: center;
}

ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
  padding: 18px;
}

.home {
  background-color: rgb(2, 8, 167);
  height: 30px;
  max-inline-size: 100%;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 0em;
}

.navbar-brand {
  margin: auto;
  text-align: center;
}

.imagen {
  right: 100%;
}

.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}
.texto-encima {
  background-color: rgb(75, 128, 221);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: absolute;
  font-size: 36px;
  line-height: 42px;

  top: 70px;
  left: 10px;
}

.formulario {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: absolute;
  font-size: 36px;
  line-height: 42px;
  width: 100%;
  top: 150px;
  left: 10px;
}

.btn.btn-info {
  margin-right: 14em;
  margin-bottom: 2em;
}

.avanzado {
  font-size: 15px;
  background-color: rgb(95, 132, 197);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: absolute;
  line-height: 42px;
  margin-top: 4em;
}

a.btn.btn-info {
  margin-top: 4em;
}
