*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* ESTILO DEL NAVBAR */

 .logoEmpresa {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 25px;
 }

 .navbar {
    display: flex;
    align-items: center;
    background-color: white;
 }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  
  ul li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    margin-right: 25px;
  }

  
  .navMenu {
    display: flex;
    height: 20px;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
  }

  /* FOOTER */

.footer{
    margin: 0;
    padding: 0;
    margin-top: 100%;
    font-family: 'Segoe UI', Tahoma, Verdana;
    text-align: center;
    position: sticky;
    width: 100%;
    background-color: whitesmoke;
  }
  
  .social{
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  .fab{
    width: 20px;
    color: black
  }
  
  
  .copyright{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    font-size: 15px;
    color: black
  }

  .body{
      background-color: beige;
  }


  /* AJUSTES RESPONSIVE */

  @media (max-width: 850px){

    .logoEmpresa{
        flex-direction: column;
        align-content: center;
        line-height: 45px;
      }

      ul li a {
        display: flex;
        color: black;
        font-weight: bold;
        text-decoration: none;
        font-size: 20px;
        padding: 5px;
        margin-right: 10px;
      }
}

@media (max-width: 750px){

    .logoEmpresa{
        flex-direction: column;
        align-items: center;
        line-height: 45px;
      }

      ul li a {
        display: flex;
        color: black;
        font-weight: bold;
        text-decoration: none;
        font-size: 20px;
        padding: 5px;
        margin-right: 10px;
      }
}